<div class="container">
  <div class="mt-4"></div>
  <ul>
    <ng-container *ngTemplateOutlet="recursiveTodosTmpl; context:{ todos: todos }"></ng-container>
  </ul>
  <ng-template #recursiveTodosTmpl let-todos="todos">
    <li *ngFor="let todo of todos; let i = index">
      <span *ngIf="renderHtml"><div [innerHtml]="todo.termHtml"></div></span>
      {{(todo.term && !todo.termHtml) ? todo.term : renderHTML()}}{{todo.count ? ' Count: ' + todo.count : ''}}
      <ul *ngIf="todo.children?.length">
        <span (click)="collapse.toggle(); defaultCollapse=false">
          {{collapse.collapsed ? "[+]" : "[-]"}}
        </span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="defaultCollapse || collapse.collapsed" >
          <ng-container *ngTemplateOutlet="recursiveTodosTmpl; context:{ todos: todo.children }">
          </ng-container>
       </div>
      </ul>
    </li>
  </ng-template>
  <hr />
</div>
